:root{
    --main-color:hsl(10, 79%, 65%);
}
h1 , h2{
    font-family: 'Poppins', sans-serif;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.container{
    padding:40px;
}
nav{
    background-color: white;
}
nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
nav img{
    width:120px;
    cursor: pointer;
}
nav span{
    padding: 5px 20px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid hsl(321, 100%, 78%);
    color:hsl(321, 100%, 78%);
    cursor: pointer;
    transition:0.4s all ;
}
.button:hover{
    box-shadow: 0px 0px 5px hsl(321, 100%, 78%);
}
main .container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
main h1{
    font-family: 'Poppins', sans-serif;
}
main p{
    margin: 30px 0;
}
.pink-button{
    padding:10px 50px;
    color:white;
    background-color: hsl(321, 100%, 78%);
    border-radius: 20px;
    cursor: pointer;
    margin-bottom: 40px;
    transition:0.3s all;
}
.pink-button:hover{
    box-shadow: 0px 0px 10px hsl(323, 44%, 39%);
    color:hsl(321, 100%, 94%);
}
main .container img{
    width: 80%;
}
main .stats{
    margin:40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width:100%;
}
.stats div{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    text-align: center;
}
.stats div img{
    width:20px;
}
.stats div h2{
    font-family: 'Poppins', sans-serif;
    color:black;
    font-size: 50px;
    margin-bottom: 0;
}
.stats div p{
    margin-top: 0;
    color:rgb(41, 38, 38);
}
.top{
    background-image: url(../images/bg-section-top-mobile-1.svg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 112px;
    margin-top: 10px;
    z-index: 4;
    width: 100%;
}
.bottom{
    background-image: url(../images/bg-section-bottom-mobile-1.svg);
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 112px;
    
    margin-bottom: 100px;
    z-index: 10;
    overflow: visible;
    width: 100%;
}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column-reverse;
    padding: 30px;
    gap: 20px;
    position: relative;
    text-align: center;
    overflow: hidden;
    background-color: hsl(207, 100%, 98%);
    z-index: 1;
  
}
section h2{
    margin-top: 50px;
    font-family: 'Poppins', sans-serif;
}
section img{
    max-width: 100%;
}
section.white{
    background-color: white;
}
.build{
    margin: 180px 0 ;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
    text-align: center;
}
@media (min-width:430px) {
    .top{
        background-image: url(../images/bg-section-top-desktop-1.svg) !important; 
        background-size:cover;
        background-repeat: no-repeat;
        z-index: 4;
        
    }
    .bottom{
        background-image: url(../images/bg-section-bottom-desktop-1.svg) !important;
        background-size:cover;
        background-repeat: no-repeat;
        min-height: 112px;
        z-index: 4;
    }
    section{
        margin: 0;
    }
}
footer{
    background-color:hsl(192, 100%, 9%);
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding:70px 40px;
    gap:200px;
    
}
footer .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color:white
}
footer .info .logo{
    width: 80%;
    margin-bottom: 20px;
    color: white;
}
footer .info p{
    margin-bottom: 20px;
}
footer .info ul {
    list-style: none;
}
footer .info ul li{
    margin-bottom: 10px;
}
footer .info ul li span{
    margin-left:20px;
}
footer .info .links a{
    color: white;
}
footer .info .links{
    display: flex;
    justify-content:baseline;
    align-items: center;
    width: 100%;
    gap:15px;
    color: white;
    font-size: 30px;
}
footer .form{
    color:white;
}
.form h2{
    margin: 20px 0;
}
.form p{
    margin-bottom: 20px;
    width: 60%;
}
.form input[type="text"]{
    padding: 10px;
    width: 50%;
    outline: 1px solid hsl(321, 100%, 78%);
    border-radius: 5px;
    border: none;
}
.form input[type="submit"]{
    border-radius: 5px;
    margin-left: 30px;
    border: none;
}
.wave{
    background-image: url(../images/bg-footer-top-desktop.svg);
    background-size:cover;
    background-repeat: no-repeat;
    z-index: 4;
    width: 100%;
    min-height: 158px;
}
@media (min-width: 430px) {
    
    nav .container{
        padding: 50px;
    }
    .container{
        padding: 30px 60px;
    }
    main .stats{
        flex-direction: row;
        width: 50%;
        margin: 70px;
    }
    section{
        flex-direction: row;
        gap: 100px;
        padding: 100px;
        font-size: 26px;
        text-align: left;
    }
    .white{
        flex-direction: row-reverse;

    }
    section img{
        width: 600px;
    }
    footer{
        flex-direction:column;
    }
}
